.styled {
  width: 100px;
  height: 40px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2.0px;
  font-weight: 500;
  color: grey;
  background-color: rgba(189, 93, 56, 1);
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(10, 0, 0, 0.7);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.styled:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 57, 0.5);
  color: #fff;
  transform: translateY(-7px);
}

